name: Lint content
on:
  pull_request:
    paths:
      - "content/**/*.md"
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - uses: tj-actions/changed-files@v47
      id: changed-files
      with:
        files: 'content/**/*.md'
        separator: ","
    - uses: DavidAnson/markdownlint-cli2-action@v22
      if: steps.changed-files.outputs.any_changed == 'true'
      with:
        globs: ${{ steps.changed-files.outputs.all_changed_files }}
        separator: ","
